@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root{
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

input {
  display: none;
}

@layer components {
  .question-btn {
    @apply block px-5 py-0.5 border-2 border-blue border-solid rounded-lg text-deep-blue font-medium text-sm active:bg-purple active:border-purple select-none cursor-pointer 
  }
}

